<body>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title> Efecto térmico de los alimentos  </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <center>
    <ion-list>
      <ion-item>
        <ion-label floating>GEB : </ion-label>
        <ion-input type="number" [(ngModel)]="geb"></ion-input>
    
      </ion-item>
    </ion-list>
  </center>
    <section>
      <ion-button (click)="calcularETA()">Calcular</ion-button>
    </section>

    <ion-card *ngIf="eta">
      <ion-card-header>
        Calculo de Efecto térmico de los alimentos (ETA)
      </ion-card-header>
      <ion-card-content>
        <p> GEB: {{this.geb}} </p>
        <p>El resultado es: {{eta}} Kcal</p>
      </ion-card-content>
    </ion-card>

  </ion-content>

</body>

