<body>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title> Gasto energético basal </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>

      <ion-item>
        <ion-label floating>Altura (cm)</ion-label>
        <ion-input type="number" [(ngModel)]="altura"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Peso pre-gestacional (kg)</ion-label>
        <ion-input type="number" [(ngModel)]="peso"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Edad </ion-label>
        <ion-input type="number" [(ngModel)]="edad"></ion-input>
      </ion-item>

    </ion-list>

    <section>
      <ion-button expand="block" (click)="calcularGEB()">Calcular</ion-button>
    </section>

    <ion-card *ngIf="geb">
      <ion-card-header>
        Cálculo de gasto energético basal (GEB)
      </ion-card-header>
      <ion-card-content>
        <p> Altura {{this.altura}} cm, Peso {{this.peso}} kg, Edad {{this.edad}} años</p>
        <p>El resultado es: {{geb}}</p>
      </ion-card-content>
    </ion-card>

  </ion-content>
</body>
