<body>
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Distribución dietética </ion-title>
    </ion-toolbar>
  </ion-header>

 
  <ion-content padding >
   
    <p>
      Hidratos de carbono: 50-65% <br><br>
      Proteínas: 10-15%<br><br>
      Lípidos: 25%
    </p>
    <center>
    <ion-list>
      <ion-item>
        <ion-label floating>V.E.T : </ion-label>
        <ion-input type="number" [(ngModel)]="vet"></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-label floating>% de HCO : </ion-label>
        <ion-input type="number" [(ngModel)]="phco"></ion-input>

      </ion-item>

      <ion-item>
        
        <ion-label floating>% de PRO : </ion-label>
        <ion-input type="number" [(ngModel)]="ppro"></ion-input>

      </ion-item>

      <ion-item>
        
        <ion-label floating>% de LIP : </ion-label>
        <ion-input type="number" [(ngModel)]="plip"></ion-input>

      </ion-item>
      
    </ion-list>
  </center>
   <br>
   <br>
   <br>
      <ion-button color="secondary" (click)="calculo()">Calcular</ion-button>
  
    <ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
    <ion-card *ngIf="khco">
      <ion-card-header>
         HCO
      </ion-card-header>
      <ion-card-content>
        <p>Kcal: {{khco}}</p>
        <p>Gramos: {{ghco}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="kpro">
      <ion-card-header>
         PRO
      </ion-card-header>
      <ion-card-content>
        <p>Kcal: {{kpro}}</p>
        <p>Gramos: {{gpro}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="klip">
      <ion-card-header>
         LIP
      </ion-card-header>
      <ion-card-content>
        <p>Kcal: {{klip}}</p>
        <p>Gramos: {{glip}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="totalk">
      <ion-card-content>
        <p>El total de KCAL es de:  {{totalk}} kcal</p>
        <p>El total de Gramos es de:  {{totalg}} gr</p>
      </ion-card-content>
    </ion-card>
  
</ion-content>


</ion-content>


</body>
