ion-card{
    text-align: center;
    position: relative;
    top: 20px;
}
ion-content {
   
    position: relative;
    top: 30px;
    text-align: center;
  
}

ion-button{
   
    top: 80px;
   left: 40px;
    
}

ion-input{
    color: white;
    background-color: rgb(56, 54, 54);
    margin: 10px;
    width: 50px;
    font-style: arial;
}

ion-list{
    text-align:center;
    position:relative;
    top: 30px;
    width: 200px;
    
}

ion-title{
    font-size:17px;
}