<body>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title> IMC Pre-gestacional</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>Peso pre-gestacional(kg)</ion-label>
        <ion-input type="number" [(ngModel)]="weight"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Altura (cm)</ion-label>
        <ion-input type="number" [(ngModel)]="height"></ion-input>
      </ion-item>
    </ion-list>

    <section>
      <ion-button expand="block" (click)="calculateBMI()">Calcular</ion-button>
    </section>

    <ion-card *ngIf="bmiValue">
      <ion-card-header>
        Cálculo de IMC Pre-gestacional
      </ion-card-header>
      <ion-card-content>
        <p>Peso pre-gestacional: {{this.weight}} kg, Altura: {{this.height}} cm</p>
        <p>IMC pre-gestacional: {{bmiValue}}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</body>
